<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bts.adamcrm">

    <uses-feature android:name="android.hardware.telephony"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permisson.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.AddCategoryActivity"/>
        <activity android:name=".activity.CategoryActivity"/>
        <activity android:name=".activity.CreateInvoiceActivity"/>
        <activity android:name=".activity.CustomerDetailActivity"/>
        <activity android:name=".activity.EditAttachmentActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.StockListActivity"/>

        <activity android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>